
.article-body{
        color: #333;
        line-height: 26px;
        min-height: 200px;
        margin: 20px;
}
.article-body img{
    max-width: 100%;
}
.footerart button a{
  color:white;
}
  .ym-ul{
    margin:20px;
  }  
  .ym-ul li{
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    list-style: decimal-leading-zero inside;
    color: #5fb878;
    float: left;
  }
  .ym-ul li a{
    color:#333;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .ym-ul li a:hover,  .ym-list-ui li a:hover{
    color: #5fb878;
    font-size: 16px;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

    .ym-list-ui{
    color:#333;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;    
  }
  .ym-list-ui li{
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    list-style: decimal-leading-zero inside;
    color: #5fb878;
  }